# Node modules
# node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# dotenv environment variables
# .env
# .env.local
# .env.*.local

# Build output
dist/
build/

# IDE/Editor settings
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db
