name: Deploy Backend App on EC2

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read
  issues: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: PROD_BACKEND_ENV

    env:
      OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
      MONGODB_URI: ${{ secrets.MONGODB_URI }}
      PORT: ${{ secrets.PORT }}
      JWT_ACCESS_SECRET: ${{ secrets.JWT_ACCESS_SECRET }}
      GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
      ACCESS_EXPIRES_IN: ${{ secrets.ACCESS_EXPIRES_IN }}

    strategy:
      matrix:
        node-version: [22.x]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"

      - name: Set up SSH to EC2
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H "${{ secrets.EC2_HOST }}" >> ~/.ssh/known_hosts

      - name: SSH into EC2 and test connection
        run: |
          ssh -o StrictHostKeyChecking=no -i ~/.ssh/gh-ec2-ci \
            ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} \

      - name: Deploy / Restart backend on EC2
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} << EOF
            set -e

            # go to your backend folder on EC2
            cd /var/www/meditation-backend/Personalised-Visual-Meditation-Guide-Backend

            echo "Fetching latest code..."
            git fetch --all
            git reset --hard origin/main

            echo "Creating .env file..."
            cat > .env << EOT
           OPENAI_API_KEY=${OPENAI_API_KEY}
           MONGODB_URI=${MONGODB_URI}
           PORT=${PORT}
           JWT_ACCESS_SECRET=${JWT_ACCESS_SECRET}
          GEMINI_API_KEY=${GEMINI_API_KEY}
          ACCESS_EXPIRES_IN=${ACCESS_EXPIRES_IN}
           EOT
            echo "Created .env with:"
            cat .env

            echo "Installing backend dependencies..."
            rm -rf node_modules package-lock.json
            npm install


            echo "Installing ts-node/typescript globally..."
            sudo npm install -g ts-node typescript

            npm run build


            echo "Starting / restarting PM2 service..."
            cd src
            PM2_BIN=\$(which pm2)
            TS_NODE=\$(which ts-node)

            \$PM2_BIN restart meditation-backend || \$PM2_BIN start app.ts --name meditation-backend --interpreter \$TS_NODE
            \$PM2_BIN save
          EOF
